/ClearDataScreen.class
/ExportDataScreen.class
/PrintDataScreen.class
/ShowLogsScreen.class
/ShowLogsScreen2.class
/ViewRecordScreen.class
/TurntoPDF.class
/ShowCycleLogs.class
/ShowAudiTrails.class
/ShowCycles.class
/ShowAlarms.class
/ShowTotalLogs.class
/ShowStatistics.class
